<?xml version='1.0' encoding='UTF-8'?>
 <!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		
		 
<!-- 		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://10.16.26.152:3306/houseagencymanagement</property>		
		<property name="connection.username">root</property>
		<property name="connection.password">971020</property>

		
		<property name="hibernate.connection.pool_size">1</property>

		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="current_session_context_class">thread</property>

		
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		
		<property name="show_sql">true</property>

		
		<property name="hbm2ddl.auto">update</property> -->

		<!-- <mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Log.hbm.xml"/> -->
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Employee.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Log.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Leaveword.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Custom.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Depart.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/House.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Housekey.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Housemap.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Pact.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Task.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/TaskAllot.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Workrecord.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Performance.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Followup.hbm.xml" />
		<mapping resource="com/jxufe/ham/bean/hibernatePersistentINF/Keycontroll.hbm.xml" />


	</session-factory>

</hibernate-configuration>